<!DOCTYPE html>
<html>
 {{> head}}
  <body>
    <div class="container">
        {{> header}}
        <ul>
        {{#each pagination.files}}
            <li>[{{publishedDate}}] <a href="/{{path}}">{{title}}</a>{{#if description}} - {{{description}}}{{/if}}</li>
        {{/each}}
        </ul>

        <div class="pagination">
            <div class="page-elem">
            {{#if pagination.previous}}
                <a href="/{{pagination.first.path}}">First</a>|&nbsp;<a href="/{{pagination.previous.path}}">Prev</a>
            {{/if}}
            </div>
            <div class="page-elem">
            {{#if pagination.next}}
                <a href="/{{pagination.next.path}}">Next</a>&nbsp;|<a href="/{{pagination.last.path}}">Last</a>
            {{/if}}
            </div>
        </div>
        {{> footer}}
    </div>
  </body>
</html>